currentPage = {{currentPage}}
<shr-pagination
  [indicatorCount]="5"
  [totalPages]="totalPage"
  [(currentPage)]="currentPage"
  class="class1"
></shr-pagination>
<div class="row col-12">
  <div class="col-3">
    <input class="form-control" name="currentPage" [(ngModel)]="tmpCurrentPage">
  </div>
  <div class="col-10"><button class="btn btn-primary" type="button" (click)="onReset()">reset current page</button></div>
</div>
<div class="row col-12">
  <div class="col-3">
    <input class="form-control" name="currentPage" [(ngModel)]="tmpTotalPage">
  </div>
  <div class="col-10"><button class="btn btn-primary" type="button" (click)="onResetTotalPage()">reset total page</button></div>
</div>

