<ng-scrollbar class="scroll-frame"
              barClass="scrollbar"
              visibility="hover"
              thumbClass="scroll-thumb">
  <ul class="list-unstyled components">
    <!--<p class="logoTitle" style="margin-top: 10px;">سامانه مدیریت فرایند سایار</p>-->
    <li>
      <a href="#widgets" data-toggle="collapse" aria-expanded="false"
         class="dropdown-toggle"><span>Widgets</span></a>
      <!--<ul class="collapse list-unstyled" id="widgets">--> <!-- collapse means: menu not expanded -->
      <ul class="show list-unstyled" id="widgets"> <!-- show means    : menu expanded     -->

        <li>
          <a [routerLink]="['/panel/widgets/auto-search-input']">
            <span>Auto Search Input</span>
          </a>
        </li>

        <li><a [routerLink]="['/panel/widgets/modal']">
          <span>Modal</span>
        </a></li>

        <li><a [routerLink]="['/panel/widgets/modal2']">
          <span>Modal2 with Routing</span>
        </a></li>
        <li><a [routerLink]="['/panel/widgets/json-print']">
          <span>Json print</span>
        </a></li>
        <li><a [routerLink]="['/panel/widgets/xml-print']">
          <span>Xml print</span>
        </a></li>
        <li>
          <a [routerLink]="['/panel/widgets/pagination-test']">
            <span>Pagination Test</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/panel/widgets/pageable-sample']">
            <span>Pageable Sample</span>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#common" data-toggle="collapse" aria-expanded="false"
         class="dropdown-toggle"><span>Widgets</span></a>
      <!--<ul class="collapse list-unstyled" id="common">--> <!-- collapse means: menu not expanded -->
      <ul class="show list-unstyled" id="common"> <!-- show means    : menu expanded     -->
        <li>
          <a [routerLink]="['/panel/commons/can-deactivate-test/user-form']">
            <span>Can Deactivate Test</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/panel/commons/query-param-test/list']">
            <span>Query Param Test</span>
          </a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#baseInfoSubmenu" data-toggle="collapse" aria-expanded="false"
         class="dropdown-toggle"><span>اطلاعات پایه</span></a>
      <ul class="show list-unstyled" id="baseInfoSubmenu">

        <li>
          <a [routerLink]="['/panel/orgChart']">
            <span>چارت سازمانی</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/panel/activity']">
            <span>روند</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/panel/activityProsessing']">
            <span>برنامه ها(کابر)</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/panel/activityHistory']">
            <span>تعیین وضعیت برنامه(کارمند)</span>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#formManagement" data-toggle="collapse" aria-expanded="false"
         class="dropdown-toggle"><span>مدیریت فرم‌ها</span></a>
      <!--<ul class="collapse list-unstyled" id="systemManagement">--> <!-- collapse means: menu not expanded -->
      <ul class="show list-unstyled" id="formManagement"> <!-- show means    : menu expanded     -->
        <li class="cursor-pointer">
          <a [routerLink]="'/panel/form'">
            <span style="color: #000;">ساخت فرم</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/panel/form-list']">
            <span>لیست فرم‌ها</span>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#baseInfoSubmenu2" data-toggle="collapse" aria-expanded="false"
         class="dropdown-toggle"><span>اسناد</span></a>
      <ul class="show list-unstyled" id="baseInfoSubmenu2">
        <!--<li>-->
        <!--<a [routerLink]="['/panel/accountsBase']">-->
        <!--<span>حساب ها</span>-->
        <!--</a>-->
        <!--</li>-->
        <li>
          <a [routerLink]="['/panel/managementUsers']">
            <span> مدیریت افراد</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/panel/managementUsers']">
            <span> مدیریت افراد</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/panel/managementUsers']">
            <span> مدیریت افراد</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/panel/managementUsers']">
            <span> مدیریت افراد</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/panel/managementUsers']">
            <span> مدیریت افراد</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/panel/managementUsers']">
            <span> مدیریت افراد</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/panel/managementUsers']">
            <span> مدیریت افراد</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/panel/managementUsers']">
            <span> مدیریت افراد</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/panel/managementUsers']">
            <span> مدیریت افراد</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/panel/managementUsers']">
            <span> مدیریت افراد</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/panel/managementUsers']">
            <span> مدیریت افراد</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/panel/managementUsers']">
            <span> مدیریت افراد</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/panel/managementUsers']">
            <span> مدیریت افراد</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/panel/managementUsers']">
            <span> آخرین مدیریت افراد</span>
          </a>
        </li>

      </ul>
    </li>
  </ul>
</ng-scrollbar>
