:host-context(html[dir="rtl"]) #sidebar {
  transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  transform-origin: bottom right;
}

:host-context(html[dir="rtl"]) #sidebar.active {
  transform: rotateY(-140deg);
  transform-origin: right;
}
