//// @theme 1
//$back-color: #5c5451;
//$highlight-color: #675f5c;
//// --vertical-menu
//$ul-components_border-bottom_back-color: #3c3431;
//$hover-color: #5c5451;
//$lighter-back-color: #6c6461;
//$white: #fff;
//$foreground-color: #ffd29c;

//// @theme 2
//$back-color: #ff112a;
//$highlight-color: #e24135;
//// vertical-menu
//$ul-components_border-bottom_back-color: #dd4460;
//$hover-color: #ff695f;
//$lighter-back-color: #ff2038;
//$white: #fff;
//$foreground-color: #ffd0c6;


//// @theme 3
//$back-color: #e54c2d;
//$highlight-color: #d74b2c;
//// vertical-menu
//$ul-components_border-bottom_back-color: #f66f50;
//$hover-color: #ff6e46;
//$lighter-back-color: #ff6037;
//$white: #fff;
//$foreground-color: #ffd29c;

//// @theme 4
//$back-color: #378576;
//$highlight-color: #44a798;
//// vertical-menu
//$ul-components_border-bottom_back-color: #378576;
//$hover-color: #408976;
//$lighter-back-color: #378576;
//$white: #fff;
//$foreground-color: #f2f2f2;

// @theme 5
$back-color: #f7f7f7;
$highlight-color: #f7f7f7;
// vertical-menu
$ul-components_border-bottom_back-color: #f7f7f7;
$hover-color: #f7f7f7;
$lighter-back-color: #f7f7f7;
$white: #fff;
$foreground-color: #202020;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
