<div class="col-md-12">
  <div class="row main-content">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row justify-content-center">
        <div class="login">
          <div class="right">
            <form (submit)="signIn()">
            <div class="logo">
              <img src="../../../../../assets/images/sign-in/svg/Logo.svg">
            </div>
            <div class="app-name">
              <span>سامانه یکپارچه آدوراطب</span>
            </div>

            <div class="form">
              <div class="input-group mb-3 input-group-lg" dir="ltr">
                <input type="text" class="form-control text-left px-2" placeholder="نام کاربری" name="username">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <img src="../../../../../assets/images/sign-in/svg/user.svg">
                  </span>
                </div>
              </div>


              <div class="input-group mb-3 input-group-lg" dir="ltr">
                <input type="password" class="form-control text-left px-2" placeholder="کلمه عبور" name="password">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <img src="../../../../../assets/images/sign-in/svg/lock.svg">
                  </span>
                </div>
              </div>
            </div>

            <div class="other-link">
              <div class="each-circle">
                <div class="circle">
                  <img src="../../../../../assets/images/sign-in/svg/settings.svg">
                </div>
                <span>سامانه عملیاتی</span>
              </div>

              <div class="each-circle">
                <div class="circle">
                  <img src="../../../../../assets/images/sign-in/2.png">

                </div>
                <span>سامانه آموزشی</span>
              </div>

              <div class="each-circle">
                <div class="circle">
                  <img src="../../../../../assets/images/sign-in/1.png">
                </div>
                <span>سامانه توسعه</span>
              </div>
            </div>


            <div class="col-md-12">
              <div class="row justify-content-center">
                <button type="submit" class="btn-login">
                  ورود
                </button>
              </div>
            </div>
            </form>
          </div>
          <div class="left">

            <div id="demo" class="carousel slide" data-ride="carousel">

              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
              </ul>

              <!-- The slideshow -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../../../../../assets/images/sign-in/svg/Slides2.png">
                </div>
                <div class="carousel-item">
                  <img src="../../../../../assets/images/sign-in/svg/Slides1.png">
                </div>
                <div class="carousel-item">
                  <img src="../../../../../assets/images/sign-in/svg/Slides3.png">
                </div>
              </div>

              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

