.main-content {
  height: 100vh;
  justify-content: center;
  align-items: center;
  .login {
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 0px rgba(77, 104, 193, 0.2);

    .right {
      width: 570px;
      height: 604px;
      padding: 65px 110px 77px;
      display: flex;
      flex-direction: column;
      align-items: center;
      form{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .logo{
        height: 64px;
        min-height: 64px;
        width: 64px;
        border: 1px solid rgba(128, 134, 163, 1);
        border-radius: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .app-name{
        font-size: 18px;
        color: rgba(128, 134, 163, 1);
        text-align: center;
        margin-top: 10px;
        margin-bottom: 65px;
      }

      .form{
        width: 100%;

        .input-group-text {
          background-color: rgba(77, 104, 193, 0.1);
          border: 1px solid transparent;
          padding: 5px 12px;
        }

        .input-group-lg > .form-control{
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
        }

        .input-group-lg > .input-group-append > .input-group-text{
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }
        .input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        .form-control {
          color: rgba(128, 134, 163, 1);
          background-color: rgba(77, 104, 193, 0.1);
          border: 1px solid rgba(77, 104, 193, 0.1);
          font-size: 14px;
          border-right-color: transparent;
          padding: 5px 0px;

          &:focus{
            border: none;
          }
        }
      }

      .other-link{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin-top: 15px;
        .each-circle{
          display: flex;
          flex-direction: column;
          align-items: center;
          .circle{
            height: 45px;
            width: 45px;
            background-color: rgba(77, 104, 193, 0.1);
            border-radius: 45px;
            margin-bottom: 13px;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
              width: 30px;
            }

            &:hover{
              border: 1px solid #019574;
              cursor: pointer;
            }
          }

          span{
            font-size: 14px;
            color: rgba(128, 134, 163, 1);
          }
        }

      }

      .btn-login{
        border-radius: 8px;
        height: 44px;
        width: 160px;
        font-size: 14px;
        color: white;
        background-color: #019574;
        margin-top: 30px;
        border: none;
        text-align: center;
      }
    }

    .left {
      width: 350px;
      height: 604px;

      .carousel-control-next-icon {
        background-image: url('../../../../../assets/images/sign-in/svg/ic_chevron_right.svg');
      }

      .carousel-control-prev-icon {
        background-image: url('../../../../../assets/images/sign-in/svg/ic_chevron_left.svg');
      }

      .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }


      .carousel-control-prev-icon, .carousel-control-next-icon {
        width: 30px;
        height: 30px;
      }


      .carousel-indicators {
        padding-right: 0px;
        padding-bottom: 25px;
      }

      .carousel-indicators .active {
        opacity: 1;
        background-color: #BEC0CB;
        border: 1px solid white;
      }

      .carousel-indicators li{
        opacity: unset;
        border: 1px solid white;
      }
    }
  }
}


