.size-xx-small {
  font-size: xx-small;
}
.size-x-small {
  font-size: x-small;
}

.size-small {
  font-size: small;
}

.size-smaller {
  font-size: smaller;
}
.size-medium {
  font-size: medium;
}

.size-large {
  font-size: large;
}

.size-x-large {
  font-size: x-large;
}

.size-xx-large {
  font-size: xx-large;
}


.size-larger {
  font-size: larger;
}
