ul.list-group.list-group-striped li:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.04);
}

//ul.list-group.list-group-striped li:nth-of-type(even) {
//  background: $body-bg;
//}

ul.list-group.list-group-hover li:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.065);
}
