.tile {
  height: 8rem;
  min-height: 8rem;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  margin-left: .5rem!important;
  margin-right: .5rem!important;
}

.bg-tile {
  background-color: #eaebee !important
}
